.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  background-color: #da8a8a;
}

table {
color: #111;
border-radius: 5px;
overflow: hidden;
margin: 12px 0;
min-width: 300px;
background: #dad8d8;
}

.header-row {
  background: #34495E;
  color: #fff
}

th, td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}

/* BONUS: Zebra stripes!
 * These two :not selectors will make sure .header-row and .warning are not included.
 * And as much as I bet you were hoping for an Angular answer, modifying the CSS is better.
 * K.I.S.S.!
 */
tr:not(.header-row):not(.warning):nth-child(even){
  background-color: goldenrod;
}
